body 
{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
/**HOME**/
.Home ul
{
  list-style-type: none;
  overflow: hidden;
  background-color: #A35AFF;
  margin: 0;
  padding:0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;

}
.Home li
{
  float: left;
  margin-left: 15px;
  position: relative;
}
.Home a 
{
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px;
  position: relative;
}
.Home a:hover
{
  background-color: deeppink;
  position: relative;
}
.Home1 img
{
  height: 1000px;
  width:100%;
  margin-top: 3%;
  position: relative;
}
.Aboutus
{
  background-color: hotpink;
  height: 850px;
  width: 100%;
  position: relative;
  bottom: 5px;
}
.Aboutus1
{
  background-color:deeppink;
  height: 100px;
  width: 100%;
  bottom: 1px;
  position: relative;
}
.Aboutus1 h1
{
  color: yellow;
  text-align: center;
  margin-top: 0%;
  font-size: 100px;
  position: relative;
}
.Aboutus2
{
  background-color: white;
  height: 700px;
  width: 90%;
  margin-left: 5%;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px;
  position: relative;
}
.Aboutus2 p
{
  margin-left: 8px;
  font-size: 20px;
  position: relative;
}
.Aboutus2 .Vision h1
{
  text-align:center;
  color: #A80EA4;
  position: relative;
}
.Aboutus2 .Misson h1
{
  color: #A80EA4;
  text-align: center;
  position: relative;
}
.Aboutus2 .Tagline h1
{
  text-align:center;
  color: #A80EA4;
  position: relative;
}
.Aboutus2 .Tagline p
{
  text-align:center;
  font-size: 30px;
  margin-top: 0px;
  position: relative;
}

/* FLAVORS */

.Flavors
{
  background-color: #8D5745;
  height: 800px;
  width: 100%;
  position: relative;
  bottom: 5px;
}
.Flavors1
{
  background: yellow;
  height: 100px;
  width: 100%;
  position: relative;
}
.Flavors1 h1
{
  color: hotpink;
  text-align: center;
  margin-top: 0%;
  font-size: 100px;
  position: relative;
}
.Flavors2
{
  background-color: white;
  height: 658px;
  width:96%;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 15px;
  position: relative;
}
.Flavors2 img
{
  height: 110%;
  width: 56%;
  position: relative;
  margin-top: -200px;
}
.Flavors2 h1
{
  color: #8D5745;
  margin-left: 150px;
  margin-top: 5px;
  font-size: 50px;
  text-shadow: 10px 10px 10px yellow;
  position: relative;
}

.Flavors3 img
{
  height: 810px;
  width: 50%;
  position: relative;
  bottom: 943px;
  margin-left: 42%;
}
.Flavors3 h1
{
  color: #8D5745;
  font-size: 50px;
  margin-left: 65%;
  margin-top: -935px;
  text-shadow: 10px 10px 10px yellow;
  position: absolute;
}

/* PRIZE */

.Price
{
  background-color: hotpink;
  height: 1800px;
  width: 100%;
  position: relative;
  bottom: 5px;
}
.Price1
{
  background: yellow;
  height: 100px;
  width: 100%;
  position: relative;
}
.Price1 h1
{
  color: hotpink;
  text-align: center;
  margin-top: 0%;
  font-size: 100px;
  position: relative;
}
.Price2
{
  background-color: white;
  height: 30%;
  width:50%;
  margin-left: 30px;
  margin-top: 20px;
  position: relative;
  box-shadow: 10px 10px 10px;
  border-radius: 20px;
}

.Price2 img
{
  height: 600px;
  width: 87%;
  position: relative;
  margin-left: 75px;
}
.original-price img
{
  height: 600px;
  width: 35%;
  position: absolute;
  margin-left: 60%;
  margin-top: -570px;
}
.Price3
{
  background-color: white;
  height: 30%;
  width:45%;
  margin-left: 51%;
  margin-top: 20px;
  position: relative;
  box-shadow: 10px 10px 10px;
  border-radius: 20px;
}
.Price3 img
{
  margin-left: 10%;
  height: 110%;
  width: 90%;
  position: relative;
  margin-top: 3%;
}
.Price4
{
  background-color: white;
  height: 30%;
  width:50%;
  margin-left: 350px;
  margin-top: 20px;
  position: relative;
  box-shadow: 10px 10px 10px;
  border-radius: 20px;
}
.Price4 img
{
  margin-left: 6%;
  height: 90%;
  width: 90%;
  position: relative;
  margin-top: 1%;
}
.Price4 h1
{
  margin-top: -10px;
  text-align: center;
  position: relative;
}
.Prize5 img
{
 height: 600px;
 width: 600px;
 margin-top: -1130px;
 margin-left: 10%;
 position: absolute;
}

/*INGREDIENTS*/

.Ingredients
{
 background-color: #8D5745;
 height: 750px;
 width: 100%;
 position: relative;
 bottom: 5px;
}
.Ingredients1
{
 background: yellow;
 height: 110px;
 width: 100%;
 position: relative;
}
.Ingredients1 h1
{
 color: hotpink;
 text-align: center;
 margin-top: 0%;
 font-size: 100px;
 position: relative;
}
.Ingredients2
{
 background-color: white;
 height: 550px;
 width:96%;
 margin-left: 20px;
 margin-top: 20px;
 border-radius: 15px;
 position: relative;
}
.Ingredients2 img
{
 height: 80%;
 width: 44%;
 margin-top: 2.5%;
 margin-left: 5%;
 border: 15px solid #FF0BC8;
 border-radius: 15px;
 box-shadow: 10px 10px 10px ;
 position: relative;
}
.Ingredients2 h1
{
  color: #672971;
  margin-left: 50%;
  margin-top: -420px;
  text-shadow: 10px 10px 10px yellow;
  position: relative;
  margin-left: 60%;
}
.Ingredients2 ul
{
  margin-left: 50%;
}
.Ingredients2 li
{
  font-size: 40px;
  margin-left: 20%;
}
.ListFudge h1
{
  color: #672971;
  margin-left: 60%;
  margin-top: -10px;
  text-shadow: 10px 10px 10px yellow;
}

/**PROCEDURE**/

.Procedure
{
  background-color: hotpink;
  height: 2500px;
  width: 100%;
  position: relative;
  margin-top: -33px;
}
.Procedure img
{
  margin-left: 32%;
  border: 15px solid #F5DC81;
  border-radius: 15px;
  box-shadow: 10px 10px 10px ;
}
.Procedure h1
{
  color: #732962;
  font-size: 500%;
  text-shadow: 10px 10px 10px yellow;
  margin-left: 20px;
}
.Procedure h2
{
  color: #732962;
  font-size: 200%;
  margin-left: 35px;
  text-shadow: 10px 10px 10px #FFD300;
}
.Procedure p
{
  color: #732962;
  font-size: 200%;
  margin-left: 30px;
}
.Procedure li
{
  color: #FFFFFF;
  font-size: 200%;
  margin-left: 30px;
}

/**CONTACT US**/

.Contactus
{
  background-color: #8D5745;
  height: 900px;
  width: 100%;
  position: relative;
}
.Contactus1
{
  background: yellow;
  height: 100px;
  width: 100%;
  position: relative;
  margin-top: -70px;
}
.Contactus1 h1
{
  color: hotpink;
  text-align: center;
  font-size: 100px;
  position: relative;
}
.Contactus2
{
  background-color: #EA9EFF;
  height: 745px;
  width:96%;
  margin-top: 50px;
  margin-left: 25px;  
  border-radius: 15px;
  position: relative;
}
.Contactus2 p
{
  color: #FFFFFF;
  font-size: 200%;
  margin-left: 15px;
  margin-top: -20px;
  text-shadow: 10px 10px 10px #000000;
  position: relative;
}
.Contactus3 p
{
  color: #BD1475;
  font-size: 200%;
  margin-left: 40px;
  margin-top: -43%;
  position: relative;
}
.Contactus3 strong
{
  color: #FFD979;
  text-shadow: 10px 10px 10px #000000;
  position: relative;
}
.Contactus4 p
{
  color: #BD1475;
  font-size: 200%;
  margin-left: 40px;
  margin-bottom: 15px;
  position: relative;
}
.Contactus4 strong
{
  color: #FFD979;
  text-shadow: 10px 10px 10px #000000;
}
.Contactus4 img
{
  height: 650px;
  width: 500px;
  margin-left: 55%;
  margin-top: -490px;
  position: absolute;
}
.Contactus5 p
{
  font-size: 34px;
  margin-top: -10px;
}

/**SUPPLIER**/

.MainS
{
  background-color: #FFC1E6;
  height: 1850px;
  width: 100%;
  position: relative; 
  margin-top: -1238px;
}
.Supplier
{
  position: relative;
  margin-top: 81.5%;
  display: flex;
  justify-content: space-around;
  height: 30%;
}
.Supplier img
{
  border: 15px solid hotpink;
  margin-left: -0px;
  margin-top: 50px;
  width:  40%;
  border-radius: 15px;
  position: relative;
  box-shadow: 10px 10px 10px ;
}
.Supplier1 img
{
  border: 15px solid hotpink;
  margin-top: 70px;
  margin-left: 3%;
  height: 48%;
  width:43%;
  border-radius: 15px;
  position: relative;
  box-shadow: 10px 10px 10px ;
  display: flex;
  justify-content: space-around;
}
.Supplier1 .marshmallow img{
  position: relative;
  width: 600px;
  height: 300px;
}
.Supplier2 img
{
  height: 1200px;
  width: 600px;
  margin-left: 56%;
  margin-top: -1250px;
  position: absolute;
}

/**Order**/

.Order
{
  background-color: #FF6FDA;
  height: 1100px;
  width: 100%;
  position: relative;
}
.Order1 img
{
  width:80%;
  margin-left: 11%;
  margin-top: 5%;
  position: relative;
}
.Order2 img
{
  border: 15px solid #FFFF40;
  margin-left: 6%;
  margin-top: 3%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px;
  position: relative;
}
.Buy
{
  position: relative;
  margin-left: 60%;
  bottom: 400px;
  width: 300px;
  height: 200px;
  font-size: 25px;
}
.navbar
{
  font-family: 'Times New Roman', Times, serif;
  list-style-type: none;
  display: flex;
}
.nav-link
{
  color: #EA9F23;
  text-decoration: none;
  display: block;
  padding: 14px 20px;
}
.nav-link:hover
{
  background-color: #EA23C5;
}
.nav-link:active
{
  background-color: #FF24D0;
}
.Buy
{
  display: inline-block;
  text-decoration: none;
  background-color: #FFC2E2;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  margin-left: 60%;
  position: relative;
  box-shadow: 10px 10px 10px;
}
.Buy:hover 
{
    background-color: #BB2197;
}
.Buy h1 
{
    margin-top: 23%;
    font-size: 50px;
    position: relative;
    color: #96116E;
}

/**Owner**/

.Owner
{
  background-color: #FFF40F;
  height: 910px;
  width: 100%;
  position: relative;
}
.Owner1
{
  background-color: #FF0F77;
  height: 100px;
  width: 100%;
  position: relative;
}
.Owner1 h1
{
  color: #FFF100;
  text-align: center;
  margin-top: 0%;
  font-size: 100px;
  position: relative;
}
.Owner1 img
{
  margin-top: 6%;
  margin-left: 1%;
  height: 500%;
  width: 50%;
  position: relative;
}
.Owner2
{
  background-color: #FF0F77;
  height: 100px;
  width: 100%;
  position: relative; 
}
.Owner2 img
{
  margin-left: 17%;
  margin-top: -6%;
  position: relative;
}
.Owner3
{
 background-color: white;
 height: 650px;
 width:45%;
 margin-left: 52%;
 border-radius: 15px;
 position: relative;
 box-shadow: 10px 10px 10px;
}
.Owner3 p
{
 font-size: 37.5px; 
 margin-left: 3%;
 position: relative;
}
